/*tema claro*/
body {
    font-family: arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #222;

}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #007bff;
    color: white;

}
.navbar ul {

    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
/*contenido*/
.contenido{
    padding: 30px;
}
/*boton*/
button{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}
/*tema oscuro*/
.dark{
    background: #121212;
    color: #f5f5f5;
}
.dark .navbar{
    background: #222;
}
