body{
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contenido{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    
}
#formulario {
    display: flex;
    gap: 10px;
}
#tarea{
    flex: 1;
    padding: 8px;

}
button{
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white
}
button:hover{
    opacity: 0.9;
}
.eliminar{
    background-color: #e74c3c;
}
#lista li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 5px 8px;
    border-radius: 5px;

}
#contador{
    font-weight: bold;
    color:#f1e9e9
}
#cuadro{
    padding: 30px ;
    box-shadow: 0 5px 20px;
    border-radius: 10px;
    background-image: url("fondo.avif");
    width: 420px;
}
#titulo{
    color: #f9f9f9;
}